.gredient-background {
    background: rgb(166, 10, 114);
    background: linear-gradient(90deg, rgba(166, 10, 114, 1) 0%, rgba(198, 78, 107, 1) 35%, rgba(255, 0, 159, 1) 100%);
}

.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;

}

.profile-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.nav-link{
    letter-spacing: 2px;
    font-weight: 600;
}
.navbar-brand{
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 30px;
}